<h2>User info</h2>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
</div>


<h2>New book</h2>
<%= form_with model: @book, local: true do |f| %>
 <div class="field">
   <%= f.label :title %>
   <%= f.text_field :title %>
 </div>
 <div class="field">
   <%= f.label :body %>
   <%= f.text_area :body %>
 </div>
 <div class="field">
   <%= f.submit 'Create Book' %>
 </div>
<% end %>

<h2>Users</h2>
